body{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: rgb(214, 199, 199);
}
main{
    height: 210%; 
    margin-top: 36px;  
}
.nah{   
    display: flex;
    justify-content: space-between; 
    height: 60%;
    font-size: 18px; 
    
}
header{
    position: fixed;
    z-index: 9999;
    top:0;
    left: 0;
    width: 100%;
    background-color: black;
    height: 10%;
    padding: 0;
    margin: 0;
}
.Ini{
    color: orange;
}

#nell{
    width: 10%;
    height: 100%;
    display: flex;
}
#logo{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#nise img{
    width: 50%;  
    height: 300px;
    display: inline-block;
    
}
.title-gallery{
    display: flex;
    justify-content: center;
    background-color: black;
    color:white;
    margin-top: 20px;
    
}
.container-imagenes{
    width: 100%;
    height: 40%;
    white-space: nowrap;
    overflow: auto;
}
.container-imagenes img{
    display: inline-block;
    max-width: 90%;
    height: 100%;
}
#gallery{
    width: 100%;
}
.serv{
    display: flex;
    justify-content: center;
    background-color: rgba(100, 201, 170, 0.945);
    margin-top: 20px;
    
}
#ServIcon {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color:rgba(100, 201, 170, 0.945);
}
.text{
    display: flex;
    justify-content: space-around;
    background-color:rgba(100, 201, 170, 0.945);
    font-family: monospace;
    font-size: 8px;
    
}
.descript{
    width: 30%;
}
.descript1{
    width: 30%;
}
.formulario{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
    
}
#Contacts{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
form{
    
    width: 60%;
    display: flex;
    flex-direction: column;

}
button{
    width: 20%;
    
    
}
.bot{
    display: flex;
    justify-content: center;
}
#other{
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
    /*margin-top: 20px;*/
    margin-top: 20px;
    height: 5%;
   /* margin-bottom: 20px;*/
}
footer{
    background-color: black;
    color: #fff;   
    height: 20%;
    display: flex;
    justify-content: space-around;
}
.footer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    
}
footer p {   
    margin: 5px;
    display: flex;
    width: 40%;
    height: 20%;
}
#log-Ig img{
    margin: 10px;
    display: flex;
    width: 10%;
    height: 60%;
}
#log-what img{
    margin: 10px;
    display: flex;
    width: 10%;
    height: 60%;
}
#log-email img{
    margin: 10px;
    display: flex;
    width: 10%;
    height: 60%;
}
.contenido p{
    display: flex;
    flex-direction: column;
    margin: 0;
}
pre{
    margin: 0;
    font-size: 10px;
}








